
.gitattributes      export-ignore
.gitignore          export-ignore

* text=auto

# GitHub
.gitattributes      text
.gitignore          text

# Source files
*.asm               text
*.py                text

# Shell files
*.sh                text

# Objects files
*.o                 binary
*.obj               binary

# Pdf files
*.pdf               binary

