
.github		export-ignore
.gitattributes	export-ignore
.gitignore	export-ignore

* text=auto

# GitHub
.github		text
.gitattributes	text
.gitignore	text

# Source files
*.asm		text
*.py		text

# Listings objects and executes
*.lst		text
*.o		binary
*.obj		binary
*.exe		binary

# Pdf files
*.pdf

